---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="关于我">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      你好，我是宇博，一名来自中国的前端开发工程师。我热爱编程，对新技术充满热情。
      <br />
      <br />
      我主要的技术栈有以下:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Vue</li>
        <li>TypeScript</li>
        <li>Front end Test</li>
        <li>Nodejs</li>
        <li>Java</li>
        <li>SQL</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      除开编码外，我还喜欢阅读，热爱短视频，热爱分享等
      <ul class="list-inside list-disc">
        <li>🧹家务大扫除爱好者</li>
        <li>🦉Bilibili狂热家</li>
        <li>📖掘金非知名作者</li>
        <li>🧐源码研究虾</li>
      </ul>
    </p>
  </div>
</Card>
