---
import Card from '../Card.astro'
import { LINKS } from '../../lib/constants'
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  title="Bilibili"
  href={'https://space.bilibili.com/3616379?spm_id_from=333.1007.0.0'}
>
  <div class="flex h-full w-full flex-col">
    <div>
      <img
        width="50"
        height="50"
        src="/me_two.png"
        class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[300px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
        alt="陈宇博"
      />
    </div>
    <div>
      <p class="mt-2 text-sm text-muted-foreground">
        如果你想看我的更多相关信息，可以关注我的 B站
      </p>
    </div>
  </div>
</Card>
